{% extends 'base.html' %}

{% block title %} Vishakha | Home {% endblock %}

{% block content %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-image: url('https://images.hdqwalls.com/download/air-balloon-flight-in-washington-bm-1920x1080.jpg');"></body>
<h2>Quick Dashboard</h2><p></p>

<div style="display: flex; justify-content: left;">
    <a href="{% url 'addContact' %}" type="button" style="color: white; text-decoration: none; background-color:  #A66BF7;" class="btn m-2 p-2"> + Add New Contact</a>
</div>

<div class="w3-card-2" style="display: flex; justify-content: center;">
    <table class="table m-3" style="text-align: center;">
        <thead>
          <tr> 
            <th scope="col" colspan="2" style="text-align: center;"><i class="material-icons"></i> Actions</th>
            <th scope="col"><i class="material-icons"></i> Contact Name</th>
            <th scope="col"><i class="material-icons"></i> Email</th>
          </tr>
        </thead>
        <tbody>
          {% if all_contacts %}
            {% for contact in all_contacts %}
              <tr>
                <th scope="row"><a href="{% url 'update' contact.id %}"><i class="fa-solid fa-edit btn"></i></a></th>
                <th scope="row"><a href="{% url 'deleteConf' contact.id %}"><i class="fa-solid fa-trash-alt btn"></i></a></th>
                <td><a href="{% url 'details' contact.id %}" style="text-decoration: none;">{{contact.contact_name}}</a></td>
                <td>{{contact.contact_email}}</td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
</div>
{% endblock %}