{% extends 'base.html' %}
{% block title %} Vishakha | Create Contact {% endblock %}
{% block content %}
<body style="background-image: url('https://images.hdqwalls.com/download/explorations-4k-iv-1920x1080.jpg');">
<div class="w3-card	w3-white container">
    <h1 style="text-align: left; color: white; background: #3C0393;font-size: 20px; Padding:20px;border-style: outset;"><i class="fa fa-address-book"></i> Project References</h1>
    <div class="w3-card">
        <p style="padding-left:20px;padding-top:10px;">   Pythonbook :https://pythonbook.org/ch12_django/notes/basic_django/ </p>
        <p style="padding-left:20px;padding-top:10px;">   Django CRUD Application :https://www.youtube.com/watch?v=Ko5KLX2n334/ </p>
        <p style="padding-left:20px;padding-top:10px;">   Django Tutorial : https://www.w3schools.com/django/index.php </p>
    </br>

      </div>  
</div>
</body>
{% endblock %}